# Linting and style checks with GitHub Actions
name: style

# Only build PRs and the main branch. Pushes to branches will only be built
# when a PR is opened.
on:
  pull_request:
  push:
    branches:
      - main

###############################################################################
jobs:

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install requirements
        run: python -m pip install -r env/requirements-style.txt

      - name: List installed packages
        run: python -m pip freeze

      - name: Run linting tools
        run: make check
